html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

/* Variables  */
$main-blue: #0D5EBA;
$light-peach: #F6CCB0;
$dark-peach: #EEB188;
$grey: #D9d9d9;
$headingfont: 'EB Garamond', serif;

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    background-color: white;
    color: black;
    h1 {
        font-family: $headingfont;
        font-weight: 700;
    }
    h4 {
        font-family: 'Oxygen', sans-serif;
        font-weight: 400;
    }
    h2 {
        font-family: $headingfont;
        font-weight: 700;
    }
    h3 {
        font-family: $headingfont;
        font-weight: 700;
    }
}

/*-------------------------------- HEADER STYLING -----------------------------------*/
.center-header {
    display: flex;
    justify-content: center;
}
.header-cont {
    width: 100%;
    border-top: 5px solid black; 
    height: 4em;
    position: fixed;
    background-color: $dark-peach;
    z-index: 50;
}
.grid-head {
    display: grid;
    height: 4em;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
-moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}
.menu {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    a {
        padding: 0 10px;
        color: black;
        font-size: 85%;
        text-transform: uppercase;
    }
}
.logo {
    grid-area: 1 / 1 / 2 / 2;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-left: 0.5rem;
}

/*-------------------------------- HOME BANNER -----------------------------------*/
.bannercont {
    display: flex;
    justify-content: center;
}
.banner {
    display: grid;
    margin: 20px;
    width: 90%;
    height: 100vh;
    grid-template: 4em 1fr 4fr 2fr 1fr 2fr / 1fr;
    justify-items: center;
    align-items: end;
    }
.girl-drawing {
        max-width: 100%;
        grid-area: 3 / 1 / 4 / 1;
    }
.menu2 {
    grid-area: 3 / 1 / 5 / 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.banner h1 {
        font-family: $headingfont;
        font-weight: 500;
        grid-area: 2 / 1 / 3 / 2;
        max-width: 100%;
        font-size: 2rem;
    }
.banner a {
    color: inherit; 
}
#tool {
    border-bottom: 1px solid black;
}
.l1 {
    display: inline-flex;
    border-top: 1px solid black;
    }
.l2 {
        display: inline-flex;
        border-top: 1px solid black;
    }
.l3 {
        display: inline-flex;
        border-top: 1px solid black;
    }
.banner ul {
    margin: 0;
    padding: 0;
    line-height: 6vh;
    font-family: $headingfont;
}
.iconlist {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    img {
        grid-area: 1 / 2 / 2 / 3;
        width: 2rem;
        justify-self: end;
    }
    a {
        grid-area: 1 / 1 / 2 / 2;
    }
}





/*-------------------------------- ABOUT ME -----------------------------------*/

.aboutmecontainer {
    display: flex;
    justify-content: center;
    background-color: $light-peach;
}

.aboutme {
    display: grid;
    width: 95%;
    height: 90vh;
    grid-template: 1fr 2fr 2fr / 1fr 1fr 1fr;
    justify-items: center;
    align-items: start;
    border-top: 2px solid black;
    .mouse {
        grid-area: 1 / 2 / 2 / 4;
        position: relative;
        left: 4rem;
        overflow: hidden;
        object-fit: cover;
        width: 60%;
    }
    .span2 {
       grid-area: 2 / 1 / 4 / 4;
       position: relative;
       bottom: 3rem;;
    }
    .button-1 {
        text-decoration: none;
        border-radius: 12px;
        padding: 10px;
        color: white;
        background-color: black;
        border: 0;
        
    }
    
}
.aboutwriting {
    grid-area: 1 / 1 / 4 / 3;
    max-width: 100%;
    margin: 5% 0 0 8%;
    line-height: 1.75;
   
}

.aboutmecontainer img {
    grid-area: 1 / 2 / 4 / 3;
    max-width: 80%;
}




/*-------------------------------- FOOTER -----------------------------------*/
.footerflex {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: $dark-peach;
}
.footer-container {
    display: grid;
    width: 100vw;
    height: 92vh;
    bottom: 0;
    grid-template: repeat(5, 1fr) / 1fr 2fr 2fr 2fr;
    justify-items: center;
    align-items: end;
    background-color: $grey;
}
footer {
    margin: 8% 8% 0 8%;
    background-color: $grey;
    width: 100vw;
    height: 60vh;
    bottom: 0;
}
.footer-container h2 {
    grid-area: 1 / 1 / 2 / 5;
    font-weight: 700px;
}
.footer-container img {
        width: 15%;
}

.contactinfo {
    grid-area: 2 / 1 / 5 / 4;
    margin-left: 8%;
    margin-bottom: 0;
}
.social-icons {
    display: inline-flex;
    justify-content: flex-start;
    
}
.social-icons a img {
        width: 40%;
}
.footer-container .card-pic {
    grid-area: 2 / 2 / 3 / 6;
    width: 100%;
    z-index: 20;
}
.contact-block {
    margin-bottom: 2rem;
}
.contact-title {
    text-transform: uppercase;
    font-weight: 700;
}

/* unvisited link */
a:link {
    text-decoration:none !important;
}

/* visited link */
a:visited {
    text-decoration:none;
}

/* mouse over link */
a:hover {
    text-decoration:none;
}

/*-------------------------------- BLOG BANNER -----------------------------------*/
.blog-major-container {
    display: flex;
    justify-content: center;
}
.blog-banner-container {
    display: grid;
    max-height: 90vh;
    width: 100vw;
    grid-template-rows: 4rem 1.5fr 1fr 0.5fr 2fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 3% 0 3%;

}


.blog-title {
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    text-align: center;
    font-family: $headingfont;
    p {
        font-size: 1rem;
        font-family: 'Oxygen', sans-serif;
    }
    h1 {
        font-size: 170%;
    }
}
hr.style2 {
    border-top: 1px solid black;
    width: 50%;
    box-shadow: 3px 3px 3px grey;
    position: relative;
    bottom: 0.5rem;
  }

  .typing-img {
      grid-area: 5 / 1 / 6 / 2;
      max-width: 80%;
      margin-top: 2rem;
      object-fit: cover;
      position: relative;
  }

  .writing-img {
      grid-area: 2 / 1 / 3 / 2;
      width: 100vw;
  }

  .blog-title p {
        font-style: italic;
  }
  .black-button {
      width: 8%;
  }
  .button-hover img {
        transition: transform .5s ease;
  }
  .button-hover img:hover {
    transform: scale(1.5);
  }
  .replace-img {
      display: none;
  }

  /*-------------------------------- BLOG LIST -----------------------------------*/

  .card-list {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px , 1fr));
    width: 100vw;
    height: fit-content; 
    background-color: $light-peach;
    padding-top: 3rem;
    img {
        width: 100%;
    }
    h3 {
        font-size: 150%;
    }
    }
    
    .card {
     display: grid;
     grid-template-columns:	1fr;
     margin: 8%;
     background-color: white;
     padding: 1rem;
     border: 0.5px solid black;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
     
    }
        
        
        .card-container {
            background-color: $dark-peach;
        }
    .date {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        font-size: 90%;
    }
 
  /*-------------------------------- ARTICLE PAGE STYLING -----------------------------------*/

        .pinkbox {
            margin-top: 4em;
            width: 100%;
            height: 60vh;
            background-color: $light-peach;
            display: grid;
            justify-items: center;
            grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
            img {
                grid-area: 1 / 1 / 3 / 4;
                width: 90%;
                z-index: 10;
            }
        }

        .big-article-container {
            display: flex;
            justify-content: center;
        }

        .article-flex {
            position: relative;
            bottom: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85vw;
            background-color: white;
            
            h4 {
            border-top: 1px solid lightgrey;
            border-bottom: 1px solid lightgrey;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 85%;
            }
            h1 {
            padding-top: 3rem;
            font-size: 250%;
            text-align: left;
            font-weight: 700;
            width: 90%;
            color: $main-blue;
            background-color: transparent;
            }
        }

        article {
            display: grid;
            width: 100vw;
            height: auto;
            margin-top: 2rem;
            grid-template-columns:  1fr 1fr 7fr 1fr 1fr;
            grid-template-rows: auto auto auto;
        } 
        
        .article-meat {
            grid-area: 2 / 2 / 3 / 5;
        }
        
        
        .cover-img {
            object-fit: cover;
            width: 100%;
            height: 40vh;
        }
    
    
/*-------------------------------- RESPONSIVE MEDIA QUERIES -----------------------------------*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*-------------------------------- HEADER Re-STYLING -----------------------------------*/

    .menu {
        grid-area: 1 / 2 / 2 / 3;
        justify-self: end;
        a {
            padding: 0 10px;
            color: black;
            font-size: 105%;
        }
    }
     /*-------------------------------- Header Re-STYLING -----------------------------------*/

    .header-cont {
        height: 4rem;
    }
    .grid-head {
        height: 4rem;
    }
    .logo {
        width: 3.6rem;
        height: 3.6rem;
    }
    /*-------------------------------- About Me Re-STYLING -----------------------------------*/
    .mouse {
        width: 50%;
    }
    .aboutme {
        height: 40vh;
    }

     /*-------------------------------- Footer Re-STYLING -----------------------------------*/
    
    
     .footer-container {
         height: 30vh;
         grid-template: repeat(5, 1fr) / 2fr 2fr 2fr 2fr 2fr;
         align-items: center;
     }
     footer {
         height: 30vh;
     }
     .footer-container .card-pic {
         width: 40%;
         grid-area: 1 / 4 / 6 / 6;
         justify-self: end;
     }
     .contactinfo {
         grid-area: 1 / 3 / 6 / 5;
         display: inline-flex;
     }
     .footer-container h2 {
         font-size: 300%;
         font-weight: 300;
         grid-area: 1 / 1 / 6 / 3;
     }
     .contact-block2 {
         margin-left: 6rem;
         margin-bottom: 0;
     }
     .contact-block {
         margin-bottom: 0;
     }
     .social-icons a img {
         width: 40%;
         margin-right: -5%;
     }

      /*-------------------------------- HOME BANNER Re-STYLING -----------------------------------*/

    .banner {
        grid-template: 7em repeat(5, 1fr) / repeat(5, 1fr);
        align-items: center;
    }
    .banner h1 {
        grid-area: 2 / 3 / 4 / 6;
        font-size: 300%;
        margin-left: 20%;
    }
    .girl-drawing {
        grid-area: 4 / 1 / 6 / 4;
        width: 100%;
    }
    .menu2 {
        grid-area: 4 / 4 / 7 / 6;
        font-size: 150%;
    }
    .banner ul {
        line-height: 8vh;
    }
    /*-------------------------------- About Me Re-STYLING -----------------------------------*/

    .aboutme {
        height: 80vh;
        font-size: 130%;
        align-content: start;
        border-top: 3px solid black;
        width: 100vw;
        .mouse {
            width: 100%;
            grid-area: 1 / 3 / 4 / 4;
            position: relative;
            bottom: 1.5rem;
        }
        .button-1 {
            font-size: 90%;
            font-family: 'Oxygen', sans-serif;
        }
    }



  /*--------------------------------  Blog Main Banner Re-STYLING -----------------------------------*/
    .blog-banner-container {
        grid-template: 5rem 1fr 1fr / 1fr 1fr 1fr !important;
        height: 100vh;
        width: 95%;
        justify-items: center;
    }
    .blog-title {
        grid-area: 3 / 2 / 5 / 3;
    }
    .typing-img {
        grid-area: 4 / 1 / 8 / 3;
        object-fit: fill;
        max-width: 40%;
        position: relative;
        right: 30%;
        }

    .writing-img {
            display:none
        }

    .replace-img {
        grid-area: 2 / 3 / 3 / 4;
        width: 100%;
        display: block;
        position: relative;
    }

    .blog-title {
        font-size: 2.5vw;
    }
    .blog-title p {
        font-size: 1.5vw;
    }
    .black-button {
        width: 3vw;
        margin-top: 2rem;
    }

    .card-container {
       display: flex;
       justify-content: center;
       background-color: $dark-peach;
   }
  
    /*-------------------------------- BLOG LIST Re-STYLING -----------------------------------*/
    .blog-major-container {
        display: flex;
        flex-direction: column;

    }
    
    .card-container {
        display: flex;
        justify-content: center;
        background-color: $dark-peach;
    }
    .card-list {
        width: 50%;
    }
    
    hr.style2 {
        width: 20%;
    }
   .thepush {
       font-size: 200%;
   }
   .cardpic {
       max-width: 40%;
   }
   .footercontainer {
       max-height: 5%;
   }


  /*--------------------------------  ARTICLE PAGE Re-STYLING -----------------------------------*/
  .pinkbox {
    img {
        width: 60%;
        grid-area: 1 / 2 / 2 / 3;
    }
}

  .cover-img {
        width: 70%;
        height: 60vh;
        }

    .article-flex {
        position: relative;
        bottom: 30vh;
        width: 90%;
        h1 {
            font-size: 350%;
            width: 70%;
        }
        h4 {
            font-size: 120%;
            width: 70%;
        }

    }
    article {
        width: 90%;
        margin-top: 2rem;
        grid-template-columns:  1fr 1fr 7fr 1fr 1fr;
        grid-template-rows: auto auto auto; 
            .article-meat {
                grid-area: 2 / 3 / 3 / 4;
                
            } 
    }

}
