
/* Header Styling  */
.headercont {
    display: flex;
    width: 100%;
    justify-content: center;
}
header {
    background-color: white;
    border-bottom: 2px solid black;
    border-bottom: 0.5px solid black;
    border-top: 5px solid black;
    height: 2.5em;
    margin-top: 1em;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

        a:hover {
            color: blue;
        }
        a {
            color: black;
            padding: 0px 10px;
        }
        .menu {
            grid-column: 2 / 3;
        }
}


html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

.banner {
    h1 {
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        }
}

/* unvisited link */
a:link {
    text-decoration:none;
}

/* visited link */
a:visited {
    text-decoration:none;
}

/* mouse over link */
a:hover {
    text-decoration:none;
}